.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  text-align: center;
  background-color: rgba(59, 255, 255, 0.823);
  margin-top: 50px;
  margin-left: 400px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img{
height: 300px;
width: 610px;


}

.card-part{
  display: flex;
  flex-wrap: wrap;
  color: rgb(148, 0, 126);
 justify-content: space-evenly;
}
.card-part2{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-evenly;
}

button{
  background-color: rgb(187, 223, 7);
  width: 150px;
  height: 40px;
  border-radius: 30px;
  color: forestgreen;
}